{% extends "layout.html" %}

{% block title %}
    BBQLocker
{% endblock %}

{% block content %}
    <div class="home">
        <h1 class="header-home">BBQ Locker</h1>

        <body>

             <!-- Slideshow container -->
            <div class="slideshow">

                <div class="mySlides">
                    <img class="responsive" src="/static/defaultImages/IMG_3274.jpeg" alt="wings on paper plate" style="width:100%">
                </div>
  
                <div class="mySlides">
                    <img class="responsive" src="/static/defaultImages/IMG_3275.jpeg" alt="chicken breasts" style="width:100%">
                </div>
  
                <div class="mySlides">
                    <img class="responsive" src="/static/defaultImages/IMG_3276.jpeg" alt="on grill" style="width:100%">
                </div>

                <div class="mySlides">
                    <img class="responsive" src="/static/defaultImages/IMG_3277.jpeg" alt="kabobs" style="width:100%">
                </div>

                <div class="mySlides">
                    <img class="responsive" src="/static/defaultImages/IMG_3278.jpeg" alt="whole chicken" style="width:100%">
                </div>

                <div class="mySlides">
                    <img class="responsive" id="ribs" src="/static/defaultImages/IMG_3279.jpeg" alt="ribs" style="width:100%">
                </div>
  
       
            </div>
  
            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div> 

            <br />
        
            <p class="about"><b>BBQ Locker is a place where users can find new and/or share recipes of their own. Log In or Create a New User to see our library of recipes and add your favorite recipes to My Locker to find them with ease.</b></p>
        </body>
    </div>
{% endblock %}

