{% extends "layout.html" %}

{% block title %}
    Recipe
{% endblock %}

{% block content %}
<body>
  <img class="recipe-image" src="/static/userImages/{{ recipe.imgName }}" alt="recipe.imgName">
  <div class="recipe-data">
    
    <h1>{{ recipe.recipeName }}</h1>
    <p id="recipeMeat"><b>Type Of Meat(s): </b>{{ recipe.meat }}</p>
    <p id="recipePrep"><b>Prep: </b>{{ recipe.preparation }}</p>
    <p id="recipeInstr"><b>Instructions: </b>{{ recipe.instructions }}</p>
  </div>
</body>


{% endblock %}